body{ 
   
    background-color:#ffdada;
}
img{
    width: 350px;
    height: 250px;
}

.quiz{
    width: 100% ;
    height: 700px;
    padding-top: 200px;
     
}
.comida-entrada{
    display: flex;
    padding-top: 150px;
    
}
